<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHead">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="sub_page">

<!-- header section strats -->
<header th:fragment="header" class="header_section">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="/voting/enter/">
                <span>Choose film for me</span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/voting/enter/">Enter <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('hasAuthority(''VOTING_HOST'')')}">
                        <a class="nav-link" href="/voting-setup/start/">Start Voting</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('isAnonymous()')}">
                        <a class="nav-link" href="/auth/login/">Log In</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- end header section -->

<footer th:fragment="footer">
    <section class="info_section layout_padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="info_contact">
                        <h4>
                            Address
                        </h4>
                        <div class="contact_link_box">
                            <a href="https://github.com/ikvict07/">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                  Location
                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                  Call +421 950 555 555
                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                  antongorobec101@gmail.com
                </span>
                            </a>
                        </div>
                    </div>
                    <div class="info_social">
                        <a href="https://www.linkedin.com/in/anton-horobets-979922235/">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.instagram.com/antongorobec101/">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_link_box">
                        <h4>
                            Links
                        </h4>
                        <div class="info_links">
                            <a class="" href="/voting/enter/">
                                Enter voting session
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_detail">
                        <h4>
                            Info
                        </h4>
                        <p>
                            This service was created by Anton Horobets for subject OOP 2024 as study project.
                            It can be used for film voting using points.
                            More points - more votes.
                            More votes - more chances to win.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer_section">
        <div class="container">
            <p>
                © <span id="displayYear">2024</span> All Rights Reserved By
                <a href="https://github.com/ikvict07//">Ikvict</a>
            </p>
        </div>
    </footer>
</footer>
</body>
</html>