<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:include="common.html :: commonHead"></div>
    <script>
        window.onload = function () {
            const canvas = document.getElementById('rouletteWheel');
            if (!canvas.getContext) {
                alert('Canvas не поддерживается вашим браузером. Пожалуйста, используйте современный браузер.');
                return;
            }
            const ctx = canvas.getContext('2d');
            const radius = canvas.width / 2;
            ctx.translate(radius, radius);

            const votingItems = Array.from(document.querySelectorAll('#votingItemsContainer > div')).map(el => ({
                title: el.getAttribute('data-title'),
                votes: parseInt(el.getAttribute('data-votes'), 10)
            }));
            const totalVotes = votingItems.reduce((acc, item) => acc + item.votes, 0);


            votingItems.forEach(item => {
                item.percentage = (item.votes / totalVotes) * 100;
            });


            drawRoulette(0);
            drawMarker();

            document.getElementById('spinRoulette').addEventListener('click', spinRoulette);

            function drawRoulette(angle) {
                ctx.clearRect(-radius * 2, -radius * 2, canvas.width, canvas.height);
                let startAngle = angle;

                votingItems.forEach((item, index) => {
                    const sliceAngle = (item.votes / totalVotes) * 2 * Math.PI;
                    ctx.beginPath();
                    ctx.moveTo(0, 0);
                    ctx.arc(0, 0, radius, startAngle, startAngle + sliceAngle);
                    ctx.fillStyle = `hsl(${index * 500 / votingItems.length}, 100%, 50%)`;
                    ctx.fill();

                    // Текст
                    const textRadius = radius * 0.60;
                    const textAngle = startAngle + sliceAngle / 2;
                    ctx.save();
                    ctx.rotate(textAngle);
                    ctx.textAlign = "center";
                    ctx.fillStyle = "#000000";
                    ctx.font = "16px Arial";
                    ctx.fillText(item.title, textRadius, 0);
                    ctx.restore();

                    startAngle += sliceAngle;
                });

                drawMarker();
            }

            function drawMarker() {
                // Рисуем обводку
                ctx.strokeStyle = 'black';
                ctx.lineWidth = 4;
                ctx.beginPath();
                ctx.moveTo(radius - 10, -10);
                ctx.lineTo(radius, 0);
                ctx.lineTo(radius - 10, 10);
                ctx.closePath();
                ctx.stroke();

                // Рисуем заливку
                ctx.fillStyle = 'red';
                ctx.beginPath();
                ctx.moveTo(radius - 10, -10);
                ctx.lineTo(radius, 0);
                ctx.lineTo(radius - 10, 10);
                ctx.closePath();
                ctx.fill();
            }

            function spinRoulette() {
                let spinDegrees = Math.random() * 360 + 1800; // Минимум 10 полных оборотов
                let currentAngle = 0;
                let spinTime = 0;
                const spinTimeTotal = Math.random() * 3000 + 7000;

                function rotateWheel() {
                    spinTime += 30;
                    if (spinTime >= spinTimeTotal) {
                        stopRotateWheel();
                        return;
                    }
                    const spinEase = spinTime / spinTimeTotal;
                    currentAngle = spinDegrees * spinEase;
                    drawRoulette(currentAngle * Math.PI / 180);
                    requestAnimationFrame(rotateWheel);
                }

                function stopRotateWheel() {
                    const finalAngle = currentAngle % 360;
                    const winningIndex = findWinner(finalAngle);
                    const winner = votingItems[winningIndex];
                    document.getElementById('rouletteResult').textContent = `Winner: ${winner.title}`;

                    // Set the winner's title in the hidden input field
                    document.getElementById('winnerTitle').value = winner.title;

                    // Show the form
                    document.getElementById('winnerForm').style.display = 'flex';
                }

                rotateWheel();
            }

            function findWinner(finalAngle) {
                let adjustedFinalAngle = finalAngle % 360;
                adjustedFinalAngle = (360 - adjustedFinalAngle) * Math.PI / 180;

                let cumulativeAngle = 0;
                for (let i = 0; i < votingItems.length; i++) {
                    const item = votingItems[i];
                    const sliceAngle = (item.votes / totalVotes) * 2 * Math.PI;
                    cumulativeAngle += sliceAngle;
                    if (adjustedFinalAngle <= cumulativeAngle) {
                        return i;
                    }
                }
                return 0;
            }
        };


    </script>
    <style>
        .centered-text {
            text-align: center;
            font-size: 2em;
        }
    </style>
</head>
<body class="sub_page">
<div class="hero_area">
    <header th:insert="~{common :: header}"></header>
    <section class="info_section layout_padding2">
        <div class="container">
            <p class="centered-text">Voting Session:</p>
            <p class="centered-text" th:text="${title}"></p>
            <p class="centered-text" th:text="${sessionId}"></p>
        </div>
    </section>
    <section class="info_section layout_padding2">
        <div id="votingItemsContainer" style="display:none;">
            <div th:each="item : ${votingItems}"
                 th:data-title="${item.title}"
                 th:data-votes="${item.votes}">
            </div>
        </div>
        <div class="roulette-container">
            <canvas id="rouletteWheel" width="500" height="500"></canvas>
            <button id="spinRoulette" class="btn">Spin the Roulette</button>
            <p id="rouletteResult"></p>
            <form id="winnerForm" th:action="@{/voting/film}" method="get"
                  style="display: none; align-items: center; vertical-align: top">
                <input id="winnerTitle" type="hidden" name="title">
                <button type="submit" class="centered-text" style="background-color: #f44336; /* Red */
                                        border: none;
                                        color: white;
                                        padding: 5px 10px;
                                        text-align: center;
                                        text-decoration: none;
                                        display: inline-block;
                                        font-size: 12px;
                                        margin: 4px 2px;
                                        cursor: pointer;
                                        vertical-align: top;
                                        border-radius: 12px;">Info
                </button>
            </form>
        </div>
    </section>
    <section class="info_section layout_padding2"></section>
    <section class="info_section layout_padding2"></section>
    <section class="info_section layout_padding2"></section>
    <footer th:insert="~{common :: footer}"></footer>
</div>

</body>
</html>