<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter</title>
    <div th:include="common.html :: commonHead"></div>
    <style>
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body class="sub_page">
<div class="hero_area">
    <header th:insert="~{common :: header}"></header>
    <section class="info_section layout_padding2"></section>
    <section class="info_section layout_padding2"></section>
    <section class="info_section layout_padding">
        <div class="container">
            <div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                <form th:action="@{/admin/}" method="get">
                    <button type="submit" id="fd">Admin Panel</button>
                </form>
            </div>
            <div th:unless="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                <h1>Enter unique code here</h1>
                <form th:action="@{/voting/enter/}" method="post">
                    <label>
                        <input type="text" name="sessionId" value="" placeholder="Enter code">
                    </label>

                    <button type="submit" id="enter">Enter</button>
                </form>
            </div>
        </div>
    </section>

    <section class="info_section layout_padding2"></section>
    <section class="info_section layout_padding2"></section>
    <footer th:insert="~{common :: footer}"></footer>
</div>
</body>
</html>